/* background texture */
#page-top::after {
  background-image: url("../img/background.jpg");
  background-size: cover;
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 50%;
}

.bg-primary {
  background-image: url("../img/nav-bar.jpg");
  background-size: cover;
}

.resume-section {
  position: relative;
}

/*!* for photography.html *!*/
#share3-y {
  background: transparent;
  padding-top: 0;
  padding-bottom: 20px;
}

#footer7-w {
  background: linear-gradient(#3b3939, #131313);
}

.social-list .iconfont-wrapper {
  opacity: 70%;
}

/* spin buttons */
.spin-btn {
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.spin-btn:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* pop-up contact form */
.contact-form {
  display: none;
  z-index: 3;
  position: fixed;
  width: 70%;
  height: 80%;
  padding: 30px;
  border: 5px solid rgba(192, 192, 192, 0.3);

  top: 10%;
  left: calc(15% + 135px);

  opacity: 0;
  transform: scale(0);
  transition: 0.6s ease opacity, 0.6s ease transform;
}

@media (max-width: 992px) {
  .contact-form {
    width: 80%;
    left: 10%;
  }
}

.contact-form::before {
  background-color: white;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 90%;
}

.contact-form .close-btn {
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
}

.contact-form .close-btn:hover {
  color: #bd5d38;
}

.contact-form .text {
  font-size: 35px;
  font-weight: 600;
  text-align: left;
}

form {
  margin-top: -10px;
  display: flex;
  flex-flow: column;
  height: 93%;
}

form .data {
  height: 45px;
  width: 100%;
  margin: 30px 0;
  flex: 0 1 20px;
}

form .data input {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid silver;
}

form .data input:focus {
  border-color: #bd5d38;
  border-bottom-width: 5px;
}

form .message {
  height: auto;
  width: 100%;
  margin: 30px 0;
  flex: 1 1 auto;
}

form .message input {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid silver;
}

form .message input:focus {
  border-color: #bd5d38;
  border-bottom-width: 5px;
}

form .btn {
  height: 25px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
  flex: 0 1 40px;
  padding: 0 0 0 0;
  overflow: hidden;
}

form .btn .inner {
  height: 100%;
  width: 400%;
  z-index: -1;
  background: -webkit-linear-gradient(right, #f5d4c4, #ee8c4a);
  transition: all 0.4s;
}

form .btn:hover .inner {
  transform: translateX(-50%);
}

form .btn button {
  position: absolute;
  left: 0;
  bottom: calc(10% - 43px);
  height: 25px;
  width: 100%;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  opacity: 80%;
}

/* photography.html fonts */
.display-5 {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 70px;
  font-weight: 700;
}

.display-7 {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 30px;
  font-weight: 400;
}

.col-12 .display-7 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 100;
}

/* mobile icon */
#mobile-icon {
  color: rgba(255, 255, 255, 0.6);
}

#mobile-icon:hover {
  color: rgba(255, 255, 255, 0.8);
}
